@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #243e63;
}

/*
 Global Styles
    */

 a{
    text-decoration: none;    
 }

  a:hover{
     text-decoration: underline;
 }

  h1{
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

 li{
    list-style-type:none;
}

p{
    font-size: 18px;
    line-height: 1.5;
}

img{
    width:100%;
}

button{
    cursor: pointer;
    border: none;
}

section{
    padding: 0 32px;
}

.container{
    padding: 80px 0;
} 

 .row{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
 }

 .purple{
    color: #6415ff;
 }

.btn {
    max-width: 136px;
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

 .btn:hover {
    background-color: rgba(60, 13, 153);
}

 #features .section__title, #pricing {
      text-align: center;
}

 /*
  End Global Styles
    */
 
 /*
 Navigation
    */
  nav {
    padding-top: 32px;    
}  

 .nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .nav_logo{
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
 }

 .nav_logo--img {
    height: 40px;
    width: 40px;
}

.nav_logo--title{
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    color: #243e63;
    padding-bottom: 2PX;
    letter-spacing: 0.6px;
}  

.nav_links{
    display: flex;
    align-items: center;
}

.nav_link{
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
}

.nav_link:hover{
    text-decoration: underline;
}

.nav_link--primary{
    background-color: #6415ff;
    color: #fff;
    padding: 10px 32px;
    border-radius: 20px;
}
.nav_link--primary:hover{
    text-decoration: none;
    background-color: rgba(80, 17, 204);
    color: white;
}

/*
 Header/Landing 
    */



 header .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
 }  
 
 .header_description{
    width: 40%
 }

 .header_description--para{
    margin: 32px 0;
 }

 .header_email{
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }

 .header_email--input{
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
 }

 .header_email--btn{
    z-index:2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
    cursor: pointer; 
 }


.header_customer--title{
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;   
}

.header_customers{
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header_img--wrapper{
    width: calc(100% - 40px);
}

.header_img{
    width: 100%;
    max-width: 768px;
}

/*
 Features Section
    */

#features {
    position: relative;
    
}
#features .row_narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row_narrow{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title{
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para{
    font-size: 20px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    max-width: 576px;
}

.services{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.service{
    width: calc(100% / 3);
}

.service_row{
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.service_img--wrapper{
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.service_img {
    width: 24px;
    height: 24px;
}

.service_text{
    margin-top: 8px;
    margin-left: 16px;
}

.service_para{
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color:rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/*
Quality Work Section

*/

.quality_description{
    display: flex;
}

.quality_description--wrapper, .quality_img--wrapper{
    width: 50%;
}

.quality_description--wrapper{   
    display: flex;
    flex-direction: column;
}

#quality .btn {
    margin-top: 32px;
}

.quality_img--wrapper{
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;      
}

.quality_img {
    z-index: 1;
    position: absolute;
}

/* STEPS SECTION
    */
.steps_description{
    display: flex;
}


   .steps_description--wrapper, .steps_img--wrapper{
        width: 50%;
    }

.steps_img--wrapper{
    position: relative;
    margin: 0 56px;
    z-index: 2;      
}    

.steps_description--wrapper{   
    display: flex;
    flex-direction: column;
}

.step{
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;    
}

.step_number{
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step_description{
    margin-left: 24px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.step_title{
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step_para{
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

 /*VALUES SECTION
    */
 
 .values_description{
    display: flex;
 }   
     
 .values_description--wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
 }   

 .values_list{
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
 }

 .value{   
    margin-right: 32px;   
 }

 /* .value: nth-of-type(1)  {   
    margin-right: 32px;   
 }
  .value: nth-of-type(2)  {   
    margin-right: 32px;   
 }
    */

.value_title{
    display: flex;
    align-items: center;
} 

.value_img{
    width: 20px;
    height: 20px;
}

.value_img--wrapper{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #9ae6b4;
}

.value:nth-child(1) value_img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value_img--wrapper {
    background-color: #feb2b2;
}

.value_name{
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
    color: #243e63;
}

.value_para{
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.values_img--wrapper{
    width: 50%;
    position: relative;
    margin: 0 56px;
    z-index: 2;      
}
 
/*Pricing & Plans Section
    */

 .pricing__description{
    display: flex;
    flex-direction: column;
    align-items: center;
 } 
.plans{
    display: flex;
}

 .plan{
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44)
 } 
 
 .plan__stripe{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
 }


 .plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.625;
 }
    
.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button{
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__name{
    color: #1a202c;
    font-size: 20px;
    text-transform: uppercase;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration{
    color: #a0aec0;
    text-transform: uppercase;
}

.plan:nth-child(1) .plan__middle, .plan:nth-child(3) .plan__middle {
   border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);

}



.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
}

.plan__target{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.025em;     
}

.plan__feature{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    line-height: 1.5;
}
.plan__bottom{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.plan__button{
    text-transform: uppercase;
    padding: 12px;
    font-weight: 700;
    width: 100%;
    border-radius: 20px;
    letter-spacing: 0.8px;
}

.plan__button:hover{
    transform: translate(1px, -1px);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: #f7fafc;
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__target,
 .plan:nth-child(2) .plan__duration, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*
Testimonials Section  
*/
.testimonials__description{
    display: flex;
}

.testimonials__img--wrapper , .testimonials__description--wrapper{
    width: 50%;
}

.testimonials__img{
    width: 100%;
}

.testimonial{
    margin-top: 40px;
}
.testimonial__rating--colors{
    color:#F6AD55;
    margin-right: 2px;
    margin-top: 4px;
}

.testimonial__title{
    color: #4a5568;
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para{
        margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__bottom{
    display: flex;
    justify-content: space-between;
}

.testimonial__profile{
    display: flex;
    align-items: center;    
}

.testimonial__img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__details{
        margin-left: 24px;
}

.testimonial__details--name{
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__details--role{
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__buttons{
    display: flex;
    align-items: center;
}

.testimonial__button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
}

.testimonial__button svg {
    width: 16px;
    height: 16px;
}

.testimonial__button--divider{
        margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;

}