@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #243e63;
}

/*
 Global Styles
    */

 a{
    text-decoration: none;    
 }

  a:hover{
     text-decoration: underline;
 }

  h1{
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;

}

 li{
    list-style-type:none;
}

p{
    font-size: 18px;
    line-height: 1.5;
}

img{
    width:100%;
}

 .row{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
 }

 .purple{
    color: #6415ff;
 }

 /*
  End Global Styles
    */
 
 /*
 Navigation
    */
  nav {
    padding-top: 32px;    
}  

 .nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .nav_logo{
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
 }

 .nav_logo--img {
    height: 40px;
    width: 40px;
}

.nav_logo--title{
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    color: #243e63;
    padding-bottom: 2PX;
    letter-spacing: 0.6px;
}  

.nav_links{
    display: flex;
    align-items: center;
}

.nav_link{
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
}

.nav_link:hover{
    text-decoration: underline;
}

.nav_link--primary{
    background-color: #6415ff;
    color: #fff;
    padding: 10px 32px;
    border-radius: 20px;
}
.nav_link--primary:hover{
    text-decoration: none;
    background-color: rgba(80, 17, 204);
    color: white;
}

/*
 Header/Landing 
    */

.container{
    padding: 96px 0;
} 

 header .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
 }  
 
 .header_description{
    width: 40%
 }

 .header_description--para{
    margin: 32px 0;
 }

 .header_email{
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }

 .header_email--input{
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
 }

 .header_email--btn{
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
 }

 .header_email--btn:hover {
    background-color: rgba(60, 13, 153);
}

.header_customer--title{
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;   
}

.header_customers{
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}
 
 


